@inject IStringLocalizer<Strings> L

<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            @L["Reconnect.Rejoining"]
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            @L["Reconnect.RejoinFailedPrefix"] <span id="components-seconds-to-next-attempt"></span> @L["Reconnect.RejoinFailedSuffix"]
        </p>
        <p class="components-reconnect-failed-visible">
            @L["Reconnect.FailedLine1"]<br />@L["Reconnect.FailedLine2"]
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            @L["Reconnect.Retry"]
        </button>
        <p class="components-pause-visible">
            @L["Reconnect.Paused"]
        </p>
        <p class="components-resume-failed-visible">
            @L["Reconnect.ResumeFailedLine1"]<br />@L["Reconnect.ResumeFailedLine2"]
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            @L["Reconnect.Resume"]
        </button>
    </div>
</dialog>
